*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* angrytool.com */
    /* background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(238, 130, 238, 1) 100%); */
    /* background-image: url("./asset/3D-Background.jpg"); */
     background-image: linear-gradient(rgb(0, 208, 255) ,white);
    
}
.contaier{
    width:90%;
    max-width:450px;
  
}
h1{
    color:black;
    opacity:0.75;
    letter-spacing: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    line-height: 1.2;
}
.display-container{
    position: relative;
    background-color: rgba(0, 0, 0, 0.783);
    border-radius: 1rem;
    border-bottom: 0.25rem solid yellow;
    margin:1rem 0;
    padding-top:0.35rem;
    
}
.display{
width:100%;
background-color: transparent;
padding:1.15rem 1rem;
color:yellow;
font-weight:600;
font-size: 1.5rem;
line-height:30px;
letter-spacing: 1px;
padding-right:3.25rem;
outline: none;
border:none;
}

.display::placeholder{
    position: absolute;
    top:50%;
    left:1.5rem;
    font-size:1.5rem;
    line-height:30px;
    color:yellow;
    text-transform: uppercase;
    transform: translateY(-50%);
    border:none;
}
.display-container button{
    position:absolute;
    top:50%;
    right:1.5rem;
    transform: translateY(-50%);

}
.input-container{
    width:100%;
    background-color:rgba(0, 0, 0, 0.783);
    border-radius: 1rem;
    padding:2rem;
    border-bottom: 0.25rem solid yellow;
}

.length-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2rem; */
}
.length{
    color:white;
    font-size:1.5rem;
}
.number{
    font-size:1.5rem;  
    color:yellow;
}
.strength-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
    color:white
}
.strength-container p {
    /* display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.5rem; */

    font-size:1.5rem;
    color:white;
}
.indicator{
 width: 1.5rem;
 height: 1.5rem;
 border-radius: 50%; 
 /* box shadow inside js */
 justify-content: space-between;
}

.generateButton{
    width:100%;
    padding:1rem;
    margin-bottom: 10px;
   background-color:blueviolet;
   text-align: center;
   border-radius: 0.75rem;
   border-bottom: 0.15rem solid yellow;
   text-transform:uppercase;
   letter-spacing: 1px;
   color:yellow;
   font-weight:600;
   font-size: 1.25rem;
}
.generateButton:hover{
    background-color: rgb(126, 19, 225);
    transition: all ease-in-out 0.7s;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap:0 1rem;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.check input{
    /* appearance: none; */
    width:20px;
    height: 20px;
    cursor:pointer;
    /* border:1px solid cyan;
   
    position:relative;
    border-radius: 0.3rem; */
}

/* .check input:checked{
    background-color: cyan;
} */

.slider{
    appearance: none;
    width: 100%;
    height:0.75rem;
    cursor: pointer;
    background-color:rgb(176, 110, 239);
    border-radius: 1rem;
    margin-top:1.5rem;
    margin-bottom:1rem;
    
}
/* slider thumb (circular) */
/* accessing slider thumb */
.slider::-webkit-slider-thumb{
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: yellow;
    margin-top:-3px;
    box-shadow: 0px 0px 20px 0px yellow;
    transition: all 100ms ease-in;
}
.slider:hover{
    background-color:rgb(149, 57, 235);
    transition: all  ease-in 0.7s;
}
.copybtn{
    background-color:transparent;
    border:none;
    outline:none;
}
.copied{
    color:black;
    position: absolute;
    background-color:yellow;
    font-size: 1.25rem;
    top:-35px;
    left:-25px;
    padding:5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin:bottom;
    transition: all 250ms ease-in-out;
}
 .copied.active{
    opacity:1;
    transform: scale(1);
 }  
.name{
    display: flex;
    height: 10px;
    width: 100%;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}